<main class="d-flex justify-center align-center bg-cream column p-high">
  <h1>Our Tea Selections</h1>
  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
    totam rem aperiam eaque ipsa, Nam libero tempore, cum soluta nobis est eligendi optio, cumque nihil impedit,
    quo minus id, quod maxime placeat, facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
    Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet, ut et voluptates repudiandae sint et
    molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias
    consequatur aut perferendis doloribus asperiores repellat.</p>
  <div>
    <app-card></app-card>
  </div>
  <hr>
    <app-table></app-table>

</main>
