<div>
  <div style="text-align: center">
    <h2>Insert Teas</h2>
  </div>
  <form class="example-form" >
    <mat-form-field  class="example-full-width">
      <mat-label >Tea Name</mat-label>
      <input #teaName matInput placeholder="Ex. Britain Classic Tea" value="">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Country Origin</mat-label>
      <input #teaOrigin matInput placeholder="Ex. Italy" value="">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Description</mat-label>
      <input #teaDescription matInput placeholder="Ex. Wonderful Spiced Tea" value="">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Image URL</mat-label>
      <input #teaUrl matInput placeholder="Ex. just an URL *Optional" value="">
    </mat-form-field>
  </form>
  <div class="gap-light d-flex justify-center align-center wrap">
    <button mat-raised-button color="primary" (click)="sendTea(teaName, teaOrigin, teaDescription, teaUrl)">Send Tea</button>
  </div>

  <hr>
  <div style="text-align: center">
    <h2>Tea Products Table</h2>
  </div>
<table id="table" mat-table [dataSource]="tableState" class="mat-elevation-z8 overflow">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name</th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="origin">
    <th mat-header-cell *matHeaderCellDef> Origin </th>
    <td mat-cell *matCellDef="let element"> {{element.origin}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> Description </th>
    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> Action </th>
    <td mat-cell *matCellDef="let element">
      <mat-icon class="edit-pen" aria-hidden="false" aria-label="Example home icon" fontIcon="mode_edit" (click)="StartEditRecord(element)"></mat-icon>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>

<div id="pop-up">
  <input type="text" #teaEditName [value]="editElement.name">
  <input type="text" #teaEditOrigin [value]="editElement.origin">
  <input type="text" #teaEditDesc [value]="editElement.description">
  <input type="text" #teaEditUrl [value]="editElement.url">
  <button mat-raised-button color="primary" (click)="editRecord(editElement, teaEditName, teaEditOrigin, teaEditDesc,teaEditUrl)">Edit Tea</button>
</div>

